 @media (max-width: 1030px){
    .page4-detail-main{
        display: flex;
        flex-direction: column;
        align-items: center;
        font-family: 'Raleway', sans-serif;
        font-weight: 700;
        /* font-size: 22px; */
    }
    .top-page4{
        width: 690px;
        height: 200px;
        background-color: #EFEFEF;
    }
    .bottom-page4{
        width: 690px;
        height: 200px;
        margin-top: 2%;
        background-color: #EFEFEF;
    }
    .progress-bar-page4{
        width: 690px;
        height: 24px;
        border-style: solid;
        border-radius: 30px;
        margin-bottom: 6%;
    }
    .light-font-text{
        font-weight: 300;
        /* font-size: 22px; */
        margin-left: 2%;
    }
    .productType-page4{
        display: flex;
    }
    .productid-page4{
        display: flex;
    }
    .productName-page4{
        display: flex;
    }
    .sku-page4{
        display: flex;
    }
    .cam2{
        height: 80%;
        width: 8%;
        margin-left: 60%;
    }
    .scan-image-picture-text{
        /* display: flex;
        flex-direction: column;
        justify-content: center; */
        position: absolute;
    }
    .text-under-pic{
        margin-left: 59%;
    }
    .page4-banner{
        display: flex;
        width: 690px;
        height: 52px;
        background-color: #EFEFEF;
        margin-bottom: 2%;
        justify-content: center;
        flex-direction: row-reverse;
        margin-top: 2%;
    }
    .recieve-notification-icon{
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: 2%;
        width: 40px;
        height: 40px;
        background-color: #1D9DEB;
        margin-top: 5px;
        border-radius: 50px;
    }
}  