@media (max-width: 1030px) {
    .page5-main{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-family: 'Raleway', sans-serif;
        font-weight: 700;
        font-size: 22px;
    }
    .banner-page5{
        display: flex;
        width: 690px;
        height: 52px;
        background-color: #EFEFEF;
        margin-bottom: 10px;
        justify-content: center;
        flex-direction: row-reverse;
    }
    .recieve-notification-icon{
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: 10px;
        width: 40px;
        height: 40px;
        background-color: #1D9DEB;
        border-radius: 50px;
    }
    .page5-rect{
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: white;
        border-style: solid;
        border-color: #EFEFEF;
        width: 690px;
        height: 343px;;
    }
    .page5-inner-rect{
        display: flex;
        justify-content: center;
        background-color: #EFEFEF;
        width: 650px;
        height: 303px;
    }
    .oval-page5{
        border-style: solid;
        border-color: #EFEFEF;
        width: 64px;
        height: 64px;
        border-radius: 100px;
        margin-top: 10px;
    }
    .product-info-page5{
        display: flex;
        flex-direction: column;
        background-color: #EFEFEF;
        margin-top: 10px;
        width: 690px;
        height: 256px;
    }
    .submit-product-detail{
        display: flex;
        background-color: #1D9DEB;
        width: 451px;
        height: 90px;
        border-radius: 25px;
        justify-content: center;
        align-items: center;
        margin-top: 10px;
    }
    .productType-page5{
        display: flex;
    }
    .productid-page5{
        display: flex;
    }
    .productName-page5{
        display: flex;
    }
    .sku-page5{
        display: flex;
    }
    .scan-text{
        position: absolute;
    }
    .cam{
        display: flex;
        width: 7%;
        height: 15%;
        margin-top: 25%;
        margin-right: 0%;
        
    }
    .lighter-font{
        font-weight: 300;
        font-size: 22px;
        margin-left: 2%;
    }
   }