@media (max-width: 1030px) {
    .scanner-main{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .banner-rect{
        display: flex;
        width: 690px;
        height: 52px;
        background-color: lightgrey;
        margin-bottom: 10px;
        justify-content: center;
        flex-direction: row-reverse;
    }
    .recieve-notification-icon{
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: 10px;
        width: 40px;
        height: 40px;
        background-color: aquamarine;
        border-radius: 50px;
    }
    .scanner-rect{
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: white;
        border-style: solid;
        border-color: grey;
        width: 690px;
        height: 343px;;
    }
    .scanner-inner-rect{
        display: flex;
        justify-content: center;
        background-color: lightgrey;
        width: 650px;
        height: 303px;
    }
    .oval{
        border-style: solid;
        border-color: lightgrey;
        width: 64px;
        height: 64px;
        border-radius: 100px;
        margin-top: 10px;
    }
    .product-type-rect{
        display: flex;
        flex-direction: column;
        background-color: lightgrey;
        margin-top: 10px;
        width: 690px;
        height: 256px;
    }
    .submit-product-detail{
        display: flex;
        background-color: aqua;
        width: 451px;
        height: 90px;
        border-radius: 25px;
        justify-content: center;
        align-items: center;
        margin-top: 10px;
    }
    .productType{
        display: flex;
        justify-content: space-evenly;
    }
    .productid{
        display: flex;
        justify-content: space-evenly;
    }
    .productName{
        display: flex;
        justify-content: space-evenly;
    }
    .sku{
        display: flex;
        justify-content: space-evenly;
    }
    .scan-text{
        position: absolute;
    }
    .cam{
        display: flex;
        width: 50px;
        height: 50px;
        margin-top: 150px;
        margin-right: 0px;
        
    }
   }